*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 50px;
}
h2{
    font-size: 32px;
}
.todo-app{
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px auto; 
    padding: 40px 30px 70px;
    border-radius: 10px;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

img {
    width: 40px;
    margin-left: 15px;
}

input {
    height: 45px;
    width: 100%;
    padding-left: 25px;
    background-color: #d8dbdd;
    border-radius: 50px;
    outline: none;
    border: none;
}
input::placeholder {
    color: gray;
}
.row {
    position: relative;
}
button {
    height: 45px;
    width: 20%;
    position: absolute;
    right: 0;
    border-radius: 50px;
    border: none;
    background: rgb(235, 91, 19);
    color: white;
    cursor: pointer;
}
ul{
    margin: 20px 0 0 10px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 35px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(image/unchecked2.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(image/check.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}















































































/*body{
    background: #bbc6fa;
}
.quote-box{
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0,15);
}
.quote-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.quote-box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23,124,229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
}
.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    
}*/